<section class="contact">
    <div class="container container--narrow">
        <h2 class="contact__title">Contact</h2>
        <div class="contact__content">
            <p class="contact__text">Feel free to reach out to me via professional networks!</p>
            <ul class="contact__links">
                <li class="contact__item">
                    <a href="https://linkedin.com/in/raymondcao" class="contact__link">LinkedIn</a>
                </li>
                <li class="contact__item">
                    <a href="https://github.com/raymondcao" class="contact__link">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</section>
